/*热点话题*/
.tsb-content {
	padding: 0 10px;
}

.tsb-content .tsb-hot section {
	margin: 4px 0 2px;
	padding: 2px;
	border: 0px solid #D5D5D5;
	height:120px;
	border-radius: 8px;
}
.hotitem dl {
	height: auto;
	overflow: hidden;
}

.tsb-topic-tags {
	clear:both;
	margin: 0 auto;
	text-align:center;
	padding: 10px 0;
	text-align: center;
}
.tsb-topic-tags ul li {
	float: left;
	margin: 2px 5px;
}
.tsb-topic-tags ul li a {
	display: block;
	padding: 0 20px;
	border: 1px solid #DAECF5;
	border-radius: 30px;
	text-decoration: none;
}
.tsb-topic-tags ul li a:hover {
	background: #225599;
	border-color: #225599;
	color: #fff;
}

.tsb-topic-tags ul li .active{
	background: #225599;
	border-color: #225599;
	color: #fff;
}

.sum {
	float:left;
	font-size: 10px;
	width: 128px;
	height: 84px;
	line-height: 14px;
	overflow: hidden;
	
}


.hotview {
    width: 300px;
    
    overflow: hidden;
    margin: 0 auto;
    float:left;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
    width: 900px; /* 320px(item width) * 3(item count) */
}

.hotitem {
    float: left;
    height:120px;
    width: 296px;
    font-size: 50px;
    padding: 4px 2px;
}
.hotpointer{
	margin: 0 auto;
	text-align:center;
	clear: left;
}
