<?php TPL::output('global/header_landing_blank.tpl.htm'); ?>
<div >
    weixin share;
</div>
<script type="text/javascript">
    function WeiXinShareBtn() {
        if ( typeof WeixinJSBridge == "undefined") {
            alert(" 错误提示");
        } else {
            WeixinJSBridge.invoke('shareTimeline', {
                "title" : "同事帮微信分享",
                "link" : "http://tongshibang.com/ask/?/tsb/test/",
                "desc" : "内容描述 ",
                "img_url" : "http://tongshibang.com/ask/uploads/answer/20131115/59909c581afff2925bb0bb625fb3f959.png"
            });
        }
    }

    var dataForWeixin = {
        appId : "",
        MsgImg : "http://tongshibang.com/ask/uploads/answer/20131115/59909c581afff2925bb0bb625fb3f959.png",
        TLImg : "http://tongshibang.com/ask/uploads/avatar/000/00/00/02_avatar_mid.jpg",
        url : "http://tongshibang.com/ask/?/tsb/test/",
        title : "同事帮微信分享",
        desc : "欢迎大家点击",

    }; 
</script>
<?php TPL::output('global/footer_blank.tpl.htm'); ?>