<?php TPL::output('tsbm/header.tpl.htm'); ?>

<div class="container" style="color: #FFFFFF;background: #76C2AF; height: 480px;" >
    <div class="row" >

        <div class="col-xs-12 col-md-6"  >
            <!-- <p class="text-center ">
                <h1><?php echo get_setting('site_name'); ?> 注册</h1>
            </p> -->
            <a href="tsbm/login/"><img class="tsb-navbar-logo" src="<?php echo G_STATIC_URL; ?>/css/default/img/logo_txt.png" alt=""  /></a>
            <div class="tsb-register">
                <form id="register_form" method="post" onsubmit="ajax_post($('#register_form')); return false;" action="tsbm/ajax/request_find_password/" role="form" >
                    密码重置链接会以邮件形式发给您

                    <div class="form-group">
                        <label for="question_content"><?php _e('请填写注册时提供的邮箱'); ?></label>
                        <input type="text" id="email" name="email" placeholder="<?php _e('邮箱'); ?>" value="<?php echo htmlspecialchars(urldecode($_GET['email'])); ?>"  class="pull-left form-control"  />
                    </div>

                    <div class="form-group"">
                        <input type="text" id="seccode_verify" name="seccode_verify" placeholder="<?php _e('验证码'); ?>" />
                        
                        <img class="img"  style="margin-top: 5px;border-radius: 5px;" id="captcha" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" src="" />
                    </div>
                </form>
                <a class="btn btn-block btn-default" style="margin-top: 60px;" href="javascript:;" onclick="ajax_post($('#register_form'));"><?php _e('下一步');?></a>
            </div>
        </div>
    </div>
</div>

<?php TPL::output('tsbm/footer.tpl.htm'); ?>