<?php TPL::output('tsbm/header.tpl.htm'); ?>

<div class="container" style="color: #FFFFFF;background: #76C2AF; height: 480px;" >
    <div class="row" >

        <div class="col-xs-12 col-md-6"  >
            <!-- <p class="text-center ">
            <h1><?php echo get_setting('site_name'); ?> 注册</h1>
            </p> -->
            <a href="tsbm/login/"><img class="tsb-navbar-logo" src="<?php echo G_STATIC_URL; ?>/css/default/img/logo_txt.png" alt=""  /></a>
            <div class="tsb-register">

                邮件已发送

                密码重置链接已经发到您邮箱 <a class="aw-text-bold"><?php echo $this->email; ?></a>
                请登录您的邮箱并点击密码重置链接进行密码更改
                <br>
                <br>
                 <a href="tsbm/" class="btn btn-mini btn-default">返回首页</a>

            </div>
        </div>
    </div>
</div>

<?php TPL::output('tsbm/footer.tpl.htm'); ?>