
<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<div style="display:none">
    <?php echo get_setting('statistic_code'); ?>
</div>
<!-- / DO NOT REMOVE -->

<script type="text/javascript">
    $(document).ready(function() {
        var $pointer = $('.pointer span');
        if (document.referrer) {
            var urlback = document.referrer;

        }
        function back() {
            window.location.href = urlback;
        }

        if (G_USER_ID) {
            getNotifactions();
        }

        function getNotifactions() {
            $.get(G_BASE_URL + '/tsbm/ajax/notifications_list/flag-0__limit-10', function(data) {
                if (data) {
                    //alert(data);
                    $('#notifications_list').html(data);
                } else {
                    $('#notifications_list').html('<li><p align="center">暂无新通知</p></li>');
                }
            });
        }


        $("#btn_notifactions").click(function() {
            getNotifactions();
        });

    }); 
</script>

</body>
</html>