<!-- 底部 -->
<footer class="text-center">
    Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?>&nbsp;&nbsp;<?php if ($this->user_id) {?><a class="" href="tsbm/logout/">退出</a><?php } ?>
    <p>
        <a href="<?php echo get_setting('base_url'); ?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>ignore_ua_check-TRUE"></a>
        <br>
    </p>
</footer>
<!-- end 底部 -->
<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<div style="display:none">
    <?php echo get_setting('statistic_code'); ?>
</div>
<!-- / DO NOT REMOVE -->

<script type="text/javascript">
    $(document).ready(function() {
        var $pointer = $('.pointer span');
        if (document.referrer) {
            var urlback = document.referrer;

        }
        function back() {
            window.location.href = urlback;
        }

        if (G_USER_ID) {
            getNotifactions();
        }

        function getNotifactions() {
            $.get(G_BASE_URL + '/tsbm/ajax/notifications_list/flag-0__limit-10', function(data) {
                if (data) {
                    //alert(data);
                    $('#notifications_list').html(data);
                } else {
                    $('#notifications_list').html('<li><p align="center">暂无新通知</p></li>');
                }
            });
        }


        $("#btn_notifactions").click(function() {
            getNotifactions();
        });

        //隐藏微信底部导航条
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });

        var imgUrl = 'http://static.tongshibang.com/static/images/taobao80.png';
        var lineLink = 'http://tongshibang.com/ask';
        var descContent = "混职场得靠同事帮";
        var shareTitle = '同事帮(tongshibang.com)';
        var appid = '';
        
        if($('#wx_descContent')){
            descContent=$('#wx_descContent').val();
        }
        
        if($('#wx_lineLink')){
            lineLink=$('#wx_lineLink').val();
        }

        function shareFriend() {
            WeixinJSBridge.invoke('sendAppMessage', {
                "appid" : appid,
                "img_url" : imgUrl,
                "img_width" : "640",
                "img_height" : "640",
                "link" : lineLink,
                "desc" : descContent,
                "title" : shareTitle
            }, function(res) {
                _report('send_msg', res.err_msg);
            })
        }

        function shareTimeline() {
            WeixinJSBridge.invoke('shareTimeline', {
                "img_url" : imgUrl,
                "img_width" : "640",
                "img_height" : "640",
                "link" : lineLink,
                "desc" : descContent,
                "title" : shareTitle
            }, function(res) {
                _report('timeline', res.err_msg);
            });
        }

        function shareWeibo() {
            WeixinJSBridge.invoke('shareWeibo', {
                "content" : descContent,
                "url" : lineLink,
            }, function(res) {
                _report('weibo', res.err_msg);
            });
        }

        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

            // 发送给好友
            WeixinJSBridge.on('menu:share:appmessage', function(argv) {
                shareFriend();
            });

            // 分享到朋友圈
            WeixinJSBridge.on('menu:share:timeline', function(argv) {
                shareTimeline();
            });

            // 分享到微博
            WeixinJSBridge.on('menu:share:weibo', function(argv) {
                shareWeibo();
            });
        }, false);

    }); 
</script>

</body>
</html>