<!-- 导航 -->
<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6" style="padding-left: 0px;padding-right: 0px;" >
            <form class="form-inline" role="form">
                <div class="input-group">
                    <span class="input-group-addon" style="border-radius: 0px; background-color: #2c3e50;color: #FFFFFF"><i class="glyphicon glyphicon-home"></i>&nbsp;主页</span>
                    <input type="text" class="form-control" style="height: 30px; ">
                    <span class="input-group-addon" style="border-radius: 0px;background-color: #2c3e50;color: #FFFFFF"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end 导航 -->
<?php if ($this->user_id) { ?>

<?php } ?>
