<?php TPL::output('tsbm/header.tpl.htm'); ?>

<div class="container"  style="color: #FFFFFF;background: #76C2AF; height: 480px;">
    <div class="row" >
        <div class="col-xs-12 col-md-6"  >
            <a href="tsbm/login/"><img class="tsb-navbar-logo" src="<?php echo G_STATIC_URL; ?>/css/default/img/logo_txt.png" alt=""  /></a>
            <!-- <p class="text-center "><h2><?php echo get_setting('site_name'); ?> 登录</h2></p> -->
            <div class="tsb-login">
                <form id="login_form" method="post" onsubmit="return false;" action="tsbm/ajax/login_process/" role="form" class="form">
                    <?php if ($_GET['weixin_id']) { ?>
                    <input type="hidden" name="weixin_id" value="<?php echo base64_decode($_GET['weixin_id']); ?>" />
                    <?php } ?>
                    <input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
                    <input type="hidden" value="1" name="net_auto_login" />
                    <?php if (get_setting('invite_reg_only') == 'N') { ?>
                    <div class="title clearfix">
                        <a class="btn pull-right  btn-mini btn-default " href="tsbm/register/" ><i class="glyphicon glyphicon-user" style="color:#bdc3c7"></i> <?php _e('注册'); ?><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <?php } ?>
                    <div class="form-group">
                        <label for="question_content"><?php _e('用户名'); ?></label>
                        <input type="text" id="user_name" class="pull-left form-control"  name="user_name" placeholder="<?php _e('邮箱'); ?>/<?php _e('用户名'); ?>" />
                    </div>
                    <div class="form-group">
                        <label for="question_content"><?php _e('密码'); ?></label>
                        <input type="password" id="password" name="password" class="pull-left form-control"  placeholder="<?php _e('密码'); ?>" onkeydown="if (event.keyCode == 13) { ajax_post($('#login_form')); }" />
                    </div>

                    <div class="login-misc">
                        <p align="center">
                            <a href="tsbm/" style="color:#FFFFFF"><?php _e('游客身份访问'); ?></a>
                        </p>
                    </div>
                </form>

                <a class="btn btn-block btn-default" href="javascript:;" onclick="ajax_post($('#login_form'));"><?php _e('登录'); ?></a>
            </div>
        </div>
    </div>
</div>

<?php TPL::output('tsbm/footer.tpl.htm'); ?>