<?php TPL::output('tsbm/header.tpl.htm'); ?>
<?php TPL::output('tsbm/global_header.tpl.htm'); ?>

<!-- 内容 -->
<div class="container" >

    <div class="row" style="margin: 10px 5px;">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#my_profile">资料</a>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">问题<b class="caret"></b></a>
                <ul aria-labelledby="myTabDrop0" role="menu" class="dropdown-menu" style="min-width: 0px;margin-top: 0px !important;background-color:#FFFFFF;">

                    <li>
                        <a data-toggle="tab" href="#my_question">发起的</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#my_ask">回复的</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">消息<b class="caret"></b></a>
                <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu" style="min-width: 0px;margin-top: 0px !important;background-color:#FFFFFF;">
                    <li>
                        <a data-toggle="tab" tabindex="-1" href="#my_msg">私信</a>
                    </li>
                    <li>
                        <a data-toggle="tab" tabindex="-1" href="#dropdown2">通知</a>
                    </li>
                </ul>
            </li>

        </ul>

        <div class="tab-content" id="myTabContent">
            <div id="my_profile" class="row tab-pane fade in active">
                <div class="col-xs-12 col-md-6" style="padding-left: 10px;padding-right: 0px;" >
                    <div class="people-info">
                        <div class="people-info-avatar"><img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" alt=""  class="img-rounded"/>
                        </div>
                        <div class="people-info-name">
                            <?php echo $this->user['user_name']; ?>

                            <p>

                                <!-- <span><a class="btn btn-primary ">关注</a>&nbsp;<a class="btn btn-primary ">私信</a></span> -->

                                <?php if ($this->user['uid'] != $this->user_id AND $this->user_id) { ?>
                                <a class="btn btn-primary btn-mini<?php if ($this->user_follow_check) { ?> aw-active<?php } ?>" onclick="follow_people($(this), $(this), <?php echo $this->user['uid']; ?>);"><?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></a>
                                <a class="btn btn-mini btn-success" onclick="alert_box('message','<?php echo $this->user['user_name']; ?>')">私信</a>
                                <?php } ?>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div id="my_ask" class="row tab-pane fade">
                <div class="col-xs-12 col-md-6" style="padding: 5px 20px; top:10px;" >

                    <div style="margin-left: 10px;">
                        <ul>
                            <?php foreach ($this->user_actions_answers AS $key => $val) { ?>
                            <li>
                                <a href="tsbm/question/<?php echo $val['answer_info']['question_id']; ?>"><?php echo $val['title']; ?></a>
                                <p style="font-size: 10px;">
                                    <?php echo cjk_substr($val['answer_info']['answer_content'], 0, 70, 'UTF-8', '...'); ?>
                                </p>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="my_question" class="row tab-pane fade">
                <div class="col-xs-12 col-md-6" style="padding: 5px 20px; top:10px;" >

                    <div style="margin-left: 10px;">
                        <ul>
                            <?php foreach ($this->user_actions_questions AS $key => $val) { ?>
                            <li>
                                <a href="tsbm/question/<?php echo $val['question_info']['question_id']; ?>"><?php echo $val['title']; ?></a>
                                <p class="num" style="font-size: 10px;">
                                    <?php _e('%s 个关注', $val['question_info']['focus_count']); ?> • <?php echo date_friendly($val['add_time']); ?>
                                </p>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="dropdown1" class="tab-pane fade">
                <p>
                    Etsy mixtape
                </p>
            </div>
            <div id="dropdown2" class="tab-pane fade">
                <p>
                    Trust fund seitan l
                </p>
            </div>

            <!-- inbox  -->

            <div id="my_msg" class="row tab-pane fade">
                <div class="col-xs-12 col-md-6" style="padding: 5px 20px; top:10px;" >
                    
                    <div style="margin-left: 10px;">
                        
                        <div class="inbox-list">
                            <p><h2><a class="btn btn-mini btn-primary pull-right" onclick="alert_box('message')"><?php _e('发私信'); ?></a></h2></p>
                            <ul id="inbox_listview"></ul>
                            <a href="javascript:;" id="load_inbox" class="aw-load-more"><?php _e('更多'); ?></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- inbox end -->

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6" style="top:85%;position: relative" >
            <span><a class="btn btn-danger btn-block" href="tsbm/logout/">退出</a>&nbsp;</span>
        </div>
    </div>

</div>
<!-- end 内容 -->

<script type="text/javascript">
    $(document).ready(function () {
        load_list_view(G_BASE_URL + '/tsbm/ajax/inbox_list/template-m', $('#inbox_listview'), $('#load_inbox'));
    });
</script>

<?php TPL::output('tsbm/footer.tpl.htm'); ?>