<?php TPL::output('tsbm/header.tpl.htm'); ?>
<?php TPL::output('tsbm/global_header.tpl.htm'); ?>

<!-- 内容 -->
<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="detail-head">
                <h1><?php echo $this->question_info['question_content']; ?></h1>
            </div>
            <div class="detail-content" >
                <?php echo $this->question_info['question_detail']; ?>
                <?php if ($this->question_info['attachs']) {  ?>
                <div class="tsb-comment-upload-img-list" >
                    <?php foreach ($this->question_info['attachs'] AS $key => $attach) { ?>
                    <?php if ($attach['is_image'] AND !in_array($attach['id'], $this->question_info['attachs_ids'])) { ?>
                    <img src="<?php echo $attach['attachment']; ?>" alt="<?php echo $attach['attach_name']; ?>" class="img-polaroid img-responsive" width="100"/>
                    <?php } ?>
                    <?php } ?>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
    <!-- end 内容 -->
    <?php if ($this->answers_list) { ?>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <!-- <ul> -->
            <?php foreach ($this->answers_list AS $key => $val) { ?>
            <!-- <li> -->
            <div class="row answer-item">
                <div class="answer-item-avatar ">
                    <span><img src="<?php if ($val['anonymous']) { ?><?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png<?php } else { ?><?php echo get_avatar_url($val['uid'], 'min'); ?><?php } ?>" class="img-rounded" alt="" />&nbsp;<?php echo $val['user_name']; ?></span>
                </div>
                <div class="answer-item-info">
                    <?php echo date_friendly($val['add_time']); ?>
                </div>
                <div class="answer-item-content ">
                    <?php echo nl2br($val['answer_content']); ?>
                </div>
            </div>
            <!-- </li> -->
            <?php } ?>
            <!-- </ul> -->
        </div>
    </div>
    <?php } ?>
    <div class="row">
        <?php if (!$this->user_id) { ?>
        <p align="center" style="padding: 5px 5px;">
             <a class="btn btn-large btn-block btn-danger" href="m/" ><?php _e('要回复问题请先登录或注册'); ?></a>
        </p>
        <?php } else {?>
        <div class="reply" style="padding: 5px 5px;">
            <form action="tsbm/ajax/save_answer/" onsubmit="return false;" method="post" id="answer_form" >
                <input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
                <input type="hidden" name="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
                <textarea rows="5" name="answer_content" class="form-control" ><?php echo htmlspecialchars($this->draft_content['message']); ?></textarea>
                <a class="btn pull-right"  onclick="ajax_post($('#answer_form'));"><?php _e('回复'); ?></a>
            </form>

        </div>
        <?php } ?>
    </div>
</div>

<script type="text/javascript">
    var QUESTION_ID =              <?php echo $this->question_info['question_id'];?>;
    var UNINTERESTED_COUNT =              <?php echo get_setting('uninterested_fold'); ?>;

    $(document).ready(function() {
        // 自动保存草稿
        if ($('#answer_form textarea').length) {
            $('#answer_form textarea').bind('keyup', function() {
                if ($(this).val() != '') {
                    $.post(G_BASE_URL + '/account/ajax/save_draft/?item_id=' + QUESTION_ID + '&type=answer', 'message=' + $(this).val(), function(result) {
                        $('#answer_content_message').html(result.err);
                    }, 'json');
                }
            });
        }

        // 折叠回复
        $.each($('li.aw-item'), function(i, e) {
            if ($(this).attr('uninterested_count') >= UNINTERESTED_COUNT || $(this).attr('force_fold') == 1) {
                $('#uninterested_answers_list').append('<li class="aw-item">' + $(e).html() + '</li>');

                $(e).remove();
            }
        });

        if ($('#uninterested_answers_list li.aw-item').length > 0) {
            $('#load_uninterested_answers span.hide_answers_count').html($('#uninterested_answers_list li.aw-item').length);
            $('#load_uninterested_answers').fadeIn();
        }
    });

    function answer_force_fold(answer_id, element) {
        $.post(G_BASE_URL + '/question/ajax/answer_force_fold/', 'answer_id=' + answer_id, function(result) {
            if (result.errno != 1) {
                $.alert(result.err);
            } else if (result.errno == 1) {
                if (result.rsm.action == 'fold') {
                    $(element).html($(element).html().replace(_t('折叠'), _t('撤消折叠')));
                } else {
                    $(element).html($(element).html().replace(_t('撤消折叠'), _t('折叠')));
                }
            }
        }, 'json');
    }
</script>

<?php TPL::output('tsbm/footer.tpl.htm'); ?>