<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>icon_pt</string>
		<key>img_url</key>
		<string></string>
		<key>name</key>
		<string>拼团大队</string>
	</dict>
	<dict>
		<key>img</key>
		<string>cate_pt</string>
		<key>img_url</key>
		<string></string>
		<key>name</key>
		<string>跳蚤市场</string>
		<key>subitems</key>
		<array>
			<dict>
				<key>img</key>
				<string>cate_ly</string>
				<key>img_url</key>
				<string></string>
				<key>name</key>
				<string>吃喝</string>
			</dict>
			<dict>
				<key>img</key>
				<string>cate_ly</string>
				<key>img_url</key>
				<string></string>
				<key>name</key>
				<string>玩乐</string>
			</dict>
			<dict>
				<key>img</key>
				<string>cate_ly</string>
				<key>img_url</key>
				<string></string>
				<key>name</key>
				<string>租房</string>
			</dict>
			<dict>
				<key>img</key>
				<string>cate_ly</string>
				<key>img_url</key>
				<string></string>
				<key>name</key>
				<string>拼车</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>img</key>
		<string>icon_tt</string>
		<key>img_url</key>
		<string></string>
		<key>name</key>
		<string>谈天说地</string>
	</dict>
	<dict>
		<key>img</key>
		<string>cate_bd</string>
		<key>img_url</key>
		<string></string>
		<key>name</key>
		<string>本地生活</string>
	</dict>
</array>
</plist>
