<!-- 顶部 -->

<!-- <a href="m/" class="logo"><img src="<?php echo G_STATIC_URL; ?>/js/mobile/img/logo.png" width="57"/></a>
<div class="aw-search-bar">
<!-- <form class="aw-relative" action="m/search/" method="post">
<input type="hidden" name="_is_mobile" value="true" />
<input placeholder="<?php _e('搜索话题、问题或人'); ?>..." class="aw-search-input" id="aw-search-query" name="q" autocomplete="off" />
<div class="dropdown-list"><ul></ul></div>
</form>
</div>
<!-- <button class="aw-publish" onclick="alert_box('publish', {'category_enable':'<?php echo (get_setting('category_enable') == 'Y') ? '1' : '0'; ?>', 'category_id':'<?php echo intval($_GET['category']); ?>'});"><?php _e('发起'); ?></button>
</header>
<!-- end 顶部 -->

<!-- 导航 -->
<!-- <nav >
<ul>
<li>
<a href="m/"><?php _e('首页'); ?></a>
</li>
<li>
<form class="aw-relative" action="m/search/" method="post">
<input type="hidden" name="_is_mobile" value="true" />
<input placeholder="<?php _e('搜索话题、问题或人'); ?>..." class="aw-search-input" id="aw-search-query" name="q" autocomplete="off" />
<div class="dropdown-list">
<ul></ul>
</div>
</form>
</li>
<li>
<a href="m/topic_square/"><?php _e('话题'); ?></a>
</li>
<li id="aw-top-nav-notic">
<a><?php _e('通知'); ?><?php if ($this->user_info['notification_unread']) { ?><span class="badge badge-info"><?php echo $this->user_info['notification_unread']; ?></span><?php } ?></a><i class="aw-arrow"></i>
</li>
<li id="aw-top-nav-profile">
<a><?php _e('我'); ?></a><i class="aw-arrow"></i>
</li>
</ul>
</nav> -->

<div class="navbar ">
    <div class="navbar-inner " style="padding-right: 2px; padding-left: 2px;">

        <!-- <form class="navbar-search pull-right input-append" >
        <input type="text" class="search" placeholder="Search" style="width: 100px;">
        <button type="submit" class="btn ">
        发起
        </button>
        </form> -->
        <ul class="nav pull-left"  >

            <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="icon-th-list"></i><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="m/"><?php _e('当前热点'); ?></a>
                    </li>
                    <li>
                        <a href="m/explore/"><?php _e('全部问题'); ?></a>
                    </li>
                    <li>
                        <a href="m/topic_square/"><?php _e('讨论话题'); ?></a>
                    </li>

                </ul>
            </li>

            <li>

                <form class="navbar-search" action="m/search/" method="post">
                    <input type="hidden" name="_is_mobile" value="true" />
                    <input placeholder="<?php _e('搜索问题/好友'); ?>..." style="width: 120px;padding: 5px 15px;
                    color: #333;
                    text-shadow: 0 1px 0 #fff;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    outline: 0;
                    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);
                    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.15);
                    box-shadow: 0 0 2px rgba(0,0,0,0.15)" class="aw-search-input search" id="aw-search-query" name="q" autocomplete="off" />
                    <div class="dropdown-list">
                        <ul></ul>
                    </div>

            </li>
            <li>
                <a href="#" style="padding: 8px 4px; vertical-align:text-top; "><span class="label label-info" style="line-height: 20px;padding: 2px 6px;margin-left: 4px;" onclick="alert_box('publish', {'category_enable':'<?php echo (get_setting('category_enable') == 'Y') ? '1' : '0'; ?>', 'category_id':'<?php echo intval($_GET['category']); ?>'});">发起</span></a>

            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown pull-right" style="padding: 10px 0px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 0px 2px;" ><i class="icon-user"></i><b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li>
                        <small></small>
                        <a href="m/people/"><?php _e($this -> user_info['user_name']); ?></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="m/people/"><?php _e('主页'); ?></a>
                    </li>
                    <li>
                        <a href="m/inbox/"><?php _e('私信'); ?></a>
                    </li>
                    <li>
                        <a href="m/settings/"><?php _e('设置'); ?></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="account/logout/"><?php _e('退出'); ?></a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</div>

<!-- end 导航 -->

