<?php TPL::output('m/header.tpl.htm'); ?>

<div class="explore-page">
	<div class="explore-wrap">
		<div class="aw-mod-header">
			<!-- <img src="<?php echo G_STATIC_URL; ?>/js/mobile/img/login_logo.png" width="114"> -->
		</div>
		<div class="aw-mod-body">
            <h1><!-- <?php echo get_setting('site_name'); ?> --><?php _e('3-用户名/密码'); ?></h1>
        </div>

		<div class="aw-mod-footer">
			<form id="register_form" method="post" onsubmit="ajax_post($('#register_form')); return false;" action="account/ajax/register_process/">
				<input type="hidden" name="agreement_chk" value="agree" />
				
				<?php if ($_GET['weixin_id']) { ?>
					<input type="hidden" name="weixin_id" value="<?php echo base64_decode($_GET['weixin_id']); ?>" />
				<?php } ?>
				
				<?php if ($this->icode) { ?>
					<input type="hidden" name="icode" id="icode" value="<?php echo $this->icode; ?>" />
				<?php } ?>
				
				<?php if ($this->return_url) { ?>
					<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
				<?php } ?>
				
				<?php if ($this->fromuid AND $_GET['invite_question_id']) { ?>
				  	<input type="hidden" name="invite_question_id" value="<?php echo htmlspecialchars($_GET['invite_question_id']); ?>"/> 
				<?php } ?>
				
				<div class="register">
					<input type="hidden" id="mobile" name="mobile" value="<?php _e(AWS_APP::session()->auth_mobile) ?>" />
					<div class="username">
						<input type="text" id="user_name" name="user_name" placeholder="<?php _e('用户名'); ?>" value="<?php echo htmlspecialchars($_GET['user_name']); ?>" />
					</div>
					<!-- <div class="email">
						<input type="text" id="email" name="email" placeholder="<?php _e('邮箱'); ?>" value="<?php echo htmlspecialchars(urldecode($_GET['email'])); ?>" />
					</div> -->
					
					<div class="password">
						<input type="password" id="password" name="password" placeholder="<?php _e('密码'); ?>">
					</div>
					
					
					<a class="btn-submit" href="javascript:;" onclick="ajax_post($('#register_form'));"><?php _e('完成注册'); ?></a>
				</div>
			</form>
		</div>
	</div>
<div>

<?php TPL::output('m/footer.tpl.htm'); ?>